---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: kubernaut-authwebhook-mutating
webhooks:
  - name: workflowexecution.mutate.kubernaut.ai
    admissionReviewVersions: ["v1"]
    clientConfig:
      service:
        name: authwebhook
        namespace: default
        path: /mutate-workflowexecution
    failurePolicy: Fail
    matchPolicy: Equivalent
    rules:
      - apiGroups: ["kubernaut.ai"]
        apiVersions: ["v1alpha1"]
        operations: ["UPDATE"]
        resources: ["workflowexecutions/status"]
        scope: "Namespaced"
    sideEffects: None
    timeoutSeconds: 10

  - name: remediationapprovalrequest.mutate.kubernaut.ai
    admissionReviewVersions: ["v1"]
    clientConfig:
      service:
        name: authwebhook
        namespace: default
        path: /mutate-remediationapprovalrequest
    failurePolicy: Fail
    matchPolicy: Equivalent
    rules:
      - apiGroups: ["kubernaut.ai"]
        apiVersions: ["v1alpha1"]
        operations: ["UPDATE"]
        resources: ["remediationapprovalrequests/status"]
        scope: "Namespaced"
    sideEffects: None
    timeoutSeconds: 10

---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: kubernaut-authwebhook-validating
webhooks:
  - name: notificationrequest.validate.kubernaut.ai
    admissionReviewVersions: ["v1"]
    clientConfig:
      service:
        name: authwebhook
        namespace: default
        path: /validate-notificationrequest-delete
    failurePolicy: Fail
    matchPolicy: Equivalent
    rules:
      - apiGroups: ["kubernaut.ai"]
        apiVersions: ["v1alpha1"]
        operations: ["DELETE"]
        resources: ["notificationrequests"]
        scope: "Namespaced"
    sideEffects: None
    timeoutSeconds: 10

