apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kubernaut-system

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - role.yaml
  - rolebinding.yaml
  - configmap.yaml
  - secret.yaml
  - certificate.yaml  # SOC2 Day 9.1: Signing certificate (cert-manager)
  - deployment.yaml
  - service.yaml
  - servicemonitor.yaml
  - networkpolicy.yaml

commonLabels:
  app: data-storage-service
  component: stateless
  tier: backend

images:
  - name: kubernaut/data-storage
    newTag: latest

