---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - notification.kubernaut.ai
  resources:
  - notificationrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - notification.kubernaut.ai
  resources:
  - notificationrequests/finalizers
  verbs:
  - update
- apiGroups:
  - notification.kubernaut.ai
  resources:
  - notificationrequests/status
  verbs:
  - get
  - patch
  - update
