---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - deployments
  - nodes
  - pods
  - replicasets
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - apps
  resources:
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - notification.kubernaut.ai
  resources:
  - notificationrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - notification.kubernaut.ai
  resources:
  - notificationrequests/finalizers
  verbs:
  - update
- apiGroups:
  - notification.kubernaut.ai
  resources:
  - notificationrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - signalprocessing.kubernaut.ai
  resources:
  - signalprocessings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - signalprocessing.kubernaut.ai
  resources:
  - signalprocessings/finalizers
  verbs:
  - update
- apiGroups:
  - signalprocessing.kubernaut.ai
  resources:
  - signalprocessings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - tekton.dev
  resources:
  - pipelineruns
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - workflowexecution.kubernaut.ai
  resources:
  - workflowexecutions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - workflowexecution.kubernaut.ai
  resources:
  - workflowexecutions/finalizers
  verbs:
  - update
- apiGroups:
  - workflowexecution.kubernaut.ai
  resources:
  - workflowexecutions/status
  verbs:
  - get
  - patch
  - update
