# coding: utf-8

"""
    Data Storage Service API

    Data Storage Service provides REST API access to audit trail persistence.  **Business Requirements**: - BR-STORAGE-001 to BR-STORAGE-020: Audit write API - BR-STORAGE-021: Incident query API (READ) - BR-STORAGE-024: RFC 7807 error responses - BR-AUDIT-006: Legal hold capability (SOC2 Gap #8)  **Design Decisions**: - ADR-031: OpenAPI 3.0+ specification for all stateless REST APIs - ADR-032: Data Access Layer Isolation (only Data Storage connects to PostgreSQL) - DD-009: Dead Letter Queue fallback on database errors - DD-AUTH-004: OAuth-proxy sidecar for authentication/authorization - DD-AUTH-005: Client authentication pattern (ServiceAccount tokens)  **Architecture**: This service is the **ONLY** service that directly accesses PostgreSQL. All other services (Context API, Effectiveness Monitor, etc.) access data through this REST API Gateway.  **Authentication & Authorization (Production/E2E)**: All requests to DataStorage are protected by an OAuth-proxy sidecar:  1. **Client Authentication**: Services authenticate with Kubernetes ServiceAccount tokens    - Token mounted at: `/var/run/secrets/kubernetes.io/serviceaccount/token`    - Clients inject: `Authorization: Bearer <token>` header    - See DD-AUTH-005 for client implementation patterns  2. **OAuth-Proxy Validation**: The sidecar validates requests    - Validates JWT token signature and expiration    - Performs Subject Access Review (SAR) to check RBAC permissions    - Injects `X-Auth-Request-User` header with authenticated user identity    - Returns HTTP 401 if token invalid, HTTP 403 if SAR fails  3. **Handler Enforcement**: DataStorage handlers extract user identity    - Legal hold operations REQUIRE `X-Auth-Request-User` header    - HTTP 401 returned if header missing (authentication failed)    - User identity stored in audit events for SOC2 compliance  **Routing Flow**: ``` Client → data-storage-service:8080 (Service)        ↓      oauth-proxy:8080 (validates token + SAR)        ↓      DataStorage:8081 (X-Auth-Request-User header) ```  **Integration Tests**: Integration tests run without oauth-proxy. Use `testutil.NewMockUserTransport()` to inject mock `X-Auth-Request-User` headers directly.  **SOC2 Compliance**: - All legal hold operations attributed to authenticated users - Audit trail captures placed_by/released_by from X-Auth-Request-User - Unauthorized access blocked at oauth-proxy layer (defense-in-depth) 

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import io
import warnings

from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Dict, List, Optional, Tuple, Union, Any

try:
    from typing import Annotated
except ImportError:
    from typing_extensions import Annotated

from pydantic import Field
from typing_extensions import Annotated
from pydantic import StrictStr

from typing import Optional

from datastorage.models.remediation_history_context import RemediationHistoryContext

from datastorage.api_client import ApiClient
from datastorage.api_response import ApiResponse
from datastorage.rest import RESTResponseType


class RemediationHistoryAPIApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    def get_remediation_history_context(
        self,
        target_kind: Annotated[StrictStr, Field(description="Kubernetes resource kind (e.g. Deployment, StatefulSet)")],
        target_name: Annotated[StrictStr, Field(description="Kubernetes resource name")],
        target_namespace: Annotated[StrictStr, Field(description="Kubernetes resource namespace")],
        current_spec_hash: Annotated[StrictStr, Field(description="SHA-256 hash of the current target resource spec (canonical JSON)")],
        tier1_window: Annotated[Optional[StrictStr], Field(description="Tier 1 lookback window (default 24h). Accepts Go duration strings.")] = None,
        tier2_window: Annotated[Optional[StrictStr], Field(description="Tier 2 lookback window (default 2160h / 90d). Accepts Go duration strings.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RemediationHistoryContext:
        """Get remediation history context for a target resource

        Returns structured remediation history context for LLM prompt enrichment.  **Business Requirements**: BR-HAPI-016 (Remediation history context)  **Design Document**: DD-HAPI-016  **Behavior**: Aggregates `remediation.workflow_created` (RO) and `effectiveness.assessment.completed` (EM) audit events into structured remediation chains for a target resource.  **Two-Tier Query Design**: - **Tier 1** (default 24h): Detailed remediation chain with health checks, metric deltas,   and full effectiveness data for the target resource. - **Tier 2** (default 90d): Summary chain activated when `currentSpecHash` matches a   historical `preRemediationSpecHash` beyond the Tier 1 window, indicating configuration   regression.  **Hash Comparison**: For each entry, performs three-way comparison of `currentSpecHash` against `preRemediationSpecHash` and `postRemediationSpecHash`.  **Regression Detection**: Sets `regressionDetected: true` if any entry's `preRemediationSpecHash` matches `currentSpecHash`.  **Authentication**: Protected by OAuth-proxy in production/E2E. Integration tests use mock X-Auth-Request-User header. 

        :param target_kind: Kubernetes resource kind (e.g. Deployment, StatefulSet) (required)
        :type target_kind: str
        :param target_name: Kubernetes resource name (required)
        :type target_name: str
        :param target_namespace: Kubernetes resource namespace (required)
        :type target_namespace: str
        :param current_spec_hash: SHA-256 hash of the current target resource spec (canonical JSON) (required)
        :type current_spec_hash: str
        :param tier1_window: Tier 1 lookback window (default 24h). Accepts Go duration strings.
        :type tier1_window: str
        :param tier2_window: Tier 2 lookback window (default 2160h / 90d). Accepts Go duration strings.
        :type tier2_window: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._get_remediation_history_context_serialize(
            target_kind=target_kind,
            target_name=target_name,
            target_namespace=target_namespace,
            current_spec_hash=current_spec_hash,
            tier1_window=tier1_window,
            tier2_window=tier2_window,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "RemediationHistoryContext",
            '400': "RFC7807Problem",
            '500': "RFC7807Problem",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def get_remediation_history_context_with_http_info(
        self,
        target_kind: Annotated[StrictStr, Field(description="Kubernetes resource kind (e.g. Deployment, StatefulSet)")],
        target_name: Annotated[StrictStr, Field(description="Kubernetes resource name")],
        target_namespace: Annotated[StrictStr, Field(description="Kubernetes resource namespace")],
        current_spec_hash: Annotated[StrictStr, Field(description="SHA-256 hash of the current target resource spec (canonical JSON)")],
        tier1_window: Annotated[Optional[StrictStr], Field(description="Tier 1 lookback window (default 24h). Accepts Go duration strings.")] = None,
        tier2_window: Annotated[Optional[StrictStr], Field(description="Tier 2 lookback window (default 2160h / 90d). Accepts Go duration strings.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[RemediationHistoryContext]:
        """Get remediation history context for a target resource

        Returns structured remediation history context for LLM prompt enrichment.  **Business Requirements**: BR-HAPI-016 (Remediation history context)  **Design Document**: DD-HAPI-016  **Behavior**: Aggregates `remediation.workflow_created` (RO) and `effectiveness.assessment.completed` (EM) audit events into structured remediation chains for a target resource.  **Two-Tier Query Design**: - **Tier 1** (default 24h): Detailed remediation chain with health checks, metric deltas,   and full effectiveness data for the target resource. - **Tier 2** (default 90d): Summary chain activated when `currentSpecHash` matches a   historical `preRemediationSpecHash` beyond the Tier 1 window, indicating configuration   regression.  **Hash Comparison**: For each entry, performs three-way comparison of `currentSpecHash` against `preRemediationSpecHash` and `postRemediationSpecHash`.  **Regression Detection**: Sets `regressionDetected: true` if any entry's `preRemediationSpecHash` matches `currentSpecHash`.  **Authentication**: Protected by OAuth-proxy in production/E2E. Integration tests use mock X-Auth-Request-User header. 

        :param target_kind: Kubernetes resource kind (e.g. Deployment, StatefulSet) (required)
        :type target_kind: str
        :param target_name: Kubernetes resource name (required)
        :type target_name: str
        :param target_namespace: Kubernetes resource namespace (required)
        :type target_namespace: str
        :param current_spec_hash: SHA-256 hash of the current target resource spec (canonical JSON) (required)
        :type current_spec_hash: str
        :param tier1_window: Tier 1 lookback window (default 24h). Accepts Go duration strings.
        :type tier1_window: str
        :param tier2_window: Tier 2 lookback window (default 2160h / 90d). Accepts Go duration strings.
        :type tier2_window: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._get_remediation_history_context_serialize(
            target_kind=target_kind,
            target_name=target_name,
            target_namespace=target_namespace,
            current_spec_hash=current_spec_hash,
            tier1_window=tier1_window,
            tier2_window=tier2_window,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "RemediationHistoryContext",
            '400': "RFC7807Problem",
            '500': "RFC7807Problem",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def get_remediation_history_context_without_preload_content(
        self,
        target_kind: Annotated[StrictStr, Field(description="Kubernetes resource kind (e.g. Deployment, StatefulSet)")],
        target_name: Annotated[StrictStr, Field(description="Kubernetes resource name")],
        target_namespace: Annotated[StrictStr, Field(description="Kubernetes resource namespace")],
        current_spec_hash: Annotated[StrictStr, Field(description="SHA-256 hash of the current target resource spec (canonical JSON)")],
        tier1_window: Annotated[Optional[StrictStr], Field(description="Tier 1 lookback window (default 24h). Accepts Go duration strings.")] = None,
        tier2_window: Annotated[Optional[StrictStr], Field(description="Tier 2 lookback window (default 2160h / 90d). Accepts Go duration strings.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """Get remediation history context for a target resource

        Returns structured remediation history context for LLM prompt enrichment.  **Business Requirements**: BR-HAPI-016 (Remediation history context)  **Design Document**: DD-HAPI-016  **Behavior**: Aggregates `remediation.workflow_created` (RO) and `effectiveness.assessment.completed` (EM) audit events into structured remediation chains for a target resource.  **Two-Tier Query Design**: - **Tier 1** (default 24h): Detailed remediation chain with health checks, metric deltas,   and full effectiveness data for the target resource. - **Tier 2** (default 90d): Summary chain activated when `currentSpecHash` matches a   historical `preRemediationSpecHash` beyond the Tier 1 window, indicating configuration   regression.  **Hash Comparison**: For each entry, performs three-way comparison of `currentSpecHash` against `preRemediationSpecHash` and `postRemediationSpecHash`.  **Regression Detection**: Sets `regressionDetected: true` if any entry's `preRemediationSpecHash` matches `currentSpecHash`.  **Authentication**: Protected by OAuth-proxy in production/E2E. Integration tests use mock X-Auth-Request-User header. 

        :param target_kind: Kubernetes resource kind (e.g. Deployment, StatefulSet) (required)
        :type target_kind: str
        :param target_name: Kubernetes resource name (required)
        :type target_name: str
        :param target_namespace: Kubernetes resource namespace (required)
        :type target_namespace: str
        :param current_spec_hash: SHA-256 hash of the current target resource spec (canonical JSON) (required)
        :type current_spec_hash: str
        :param tier1_window: Tier 1 lookback window (default 24h). Accepts Go duration strings.
        :type tier1_window: str
        :param tier2_window: Tier 2 lookback window (default 2160h / 90d). Accepts Go duration strings.
        :type tier2_window: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._get_remediation_history_context_serialize(
            target_kind=target_kind,
            target_name=target_name,
            target_namespace=target_namespace,
            current_spec_hash=current_spec_hash,
            tier1_window=tier1_window,
            tier2_window=tier2_window,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "RemediationHistoryContext",
            '400': "RFC7807Problem",
            '500': "RFC7807Problem",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _get_remediation_history_context_serialize(
        self,
        target_kind,
        target_name,
        target_namespace,
        current_spec_hash,
        tier1_window,
        tier2_window,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> Tuple:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[str, str] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        if target_kind is not None:
            
            _query_params.append(('targetKind', target_kind))
            
        if target_name is not None:
            
            _query_params.append(('targetName', target_name))
            
        if target_namespace is not None:
            
            _query_params.append(('targetNamespace', target_namespace))
            
        if current_spec_hash is not None:
            
            _query_params.append(('currentSpecHash', current_spec_hash))
            
        if tier1_window is not None:
            
            _query_params.append(('tier1Window', tier1_window))
            
        if tier2_window is not None:
            
            _query_params.append(('tier2Window', tier2_window))
            
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            [
                'application/json', 
                'application/problem+json'
            ]
        )


        # authentication setting
        _auth_settings: List[str] = [
        ]

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/api/v1/remediation-history/context',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


