apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-cert-gitops
  namespace: argocd
spec:
  project: default
  source:
    repoURL: http://gitea-http.gitea:3000/kubernaut/demo-cert-gitops-repo.git
    targetRevision: HEAD
    path: manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: demo-cert-gitops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
